<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>

  </head>
  <body>
  <div class="alert alert-success" role="alert">
     <div class="text-center">
       <h1><strong>heading</strong></h1>
     </div>
</div>
  <form class="container">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
  </div>


 <div class="form-group">
      <label for="inputState">Time</label>
      <select id="inputState" class="form-control">
             <option selected>1 Day</option>
        <option selected>2 Day</option>
        <option selected>3 Day</option>
        <option selected>1 Month</option>
        <option selected>2 Month</option>
        <option selected>3 Month</option>
        <option selected>4 Month</option>
        <option selected>5 Month</option>
        <option selected>6 Month</option>
        <option selected>7 Month</option>
        <option selected>8 Month</option>
        <option selected>9 Month</option>

          <option selected>10 Month</option>
        <option selected>11 Month</option>
        <option selected>12 Month</option>

        <option>1 Year</option>
        <option>2 Year</option>
        <option>3 Year</option>
      </select>
    </div>



    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>